-let coreSaludo = 'Core Module';
div(class='ed-container')
	div(class='ed-item'): h2=coreSaludo
div(class='ed-container')
	div(class='ed-item sm-50 m-25 l-20'): h3=coreSaludo
	div(class='ed-item sm-50 m-25 l-20'): h3=coreSaludo
	div(class='ed-item sm-50 m-25 l-20'): h3=coreSaludo
	div(class='ed-item sm-50 m-25 l-20'): h3=coreSaludo
	div(class='ed-item sm-50 m-25 l-20'): h3=coreSaludo
	div(class='ed-item sm-50 m-25 l-20'): h3=coreSaludo
	div(class='ed-item sm-50 m-25 l-20'): h3=coreSaludo
	div(class='ed-item sm-50 m-25 l-20'): h3=coreSaludo
	div(class='ed-item sm-50 m-25 l-20'): h3=coreSaludo
	div(class='ed-item sm-50 m-25 l-20'): h3=coreSaludo
