extends ../config/template 
append config
	-currentPage		= "home"
	-siteName			= 'site'
	-content			= 'content'
	-pageDescription	= 'Pagina inicial de MyBoilerplate'
block body-container
	div(class="container")
		h1 hisdop
		ul 
			li lorem
		h1(class='font-c') MyBoilerplate
		p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quasi, dolorem autem maiores quis dolor, reprehenderit delectus quia dolore, incidunt obcaecati sequi labore hic? Soluta doloremque vitae explicabo assumenda fugit tenetur.
		include ../internal-modules/internal-module
block scripts
