extends ../config/template 
append config
	-currentPage		= "home"
	-siteName			= 'site'
	-content			= 'content'
	-pageDescription	= 'Pagina inicial de MyBoilerplate'
block main-header
block main-container
	div(class="container")
		h1(class='font-c') MyBoilerplate
		p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quasi, dolorem autem maiores quis dolor, reprehenderit delectus quia dolore, incidunt obcaecati sequi labore hic? Soluta doloremque vitae explicabo assumenda fugit tenetur.
		//- include ../internal-modules/header
		//- include ../internal-modules/banner
		//- include ../internal-modules/internal-module
		//- include ../internal-modules/test.html
	//- include ../internal-modules/banner
	//- include ../internal-modules/internal-module
	//- include ../internal-modules/test.html
block main-footer
block scripts
