div(class="section-container bg-[url('images/bg.png')] bg-cover bg-center")
	div(class='item-container h-[972px] flex flex-col')
		div(class='flex justify-between items-start max-[1280px]')
			img(src="images/logo.svg", alt="logo" class='pt-6')
			img(src="images/sticker.svg", alt="20 years" class='')
		div(class='flex flex-col max-[800px] mx-auto border border-white')
			div(class='text-white text-center font-montserrat text-4xl font-bold leading-none') Get a
			div(class='flex') 
				span(class='w-1/2 text-[#FFCC15] text-[170px] font-extrabold') 30% 
				span(class='w-1/2 text-[#fff] text-center text-[74px] font-bold') CASH BONUS 
			div(class='text-center text-[36px] text-[#fff] font-bold') On Sports and up to $600 cash
			div(class='text-center text-[22px] text-[#fff] font-normal') Congrats, you're getting an extra 5% just by landing here! Enjoy your 30% cash bonus (normally 25%)
			div 
				a(href="") Lorem 
		div(class='flex justify-between items-start')
			div 
			div 
			div 
