-let internalSaludo = 'Internal Module';
div(class='ed-grid')
	h2=internalSaludo
div(class='ed-grid sm-grid-2 m-grid-4 l-grid-5 row-gap-3')
	div: h3=internalSaludo
	div: h3=internalSaludo
	div: h3=internalSaludo
	div: h3=internalSaludo
	div: h3=internalSaludo
	div: h3=internalSaludo
	div: h3=internalSaludo
	div: h3=internalSaludo
	div: h3=internalSaludo
	div: h3=internalSaludo
