*,
*::before,
*::after {
	box-sizing: border-box;
}
::selection {
	color: white;
	background: #9e852e;
}
:root {
	--header-height: 48px;
	@screen l {
		--header-height: 64px;
	}
}
body {
	margin: var(--header-height) 0 0 0;
	min-height: calc(100vh - var(--header-height));
	@apply flex flex-col;
}
.main-header{
	@apply bg-[#007BDF] fixed top-0 w-full;
	min-height			: var(--header-height);
}
.main-container{
	@apply w-full max-w-[4000px] mx-auto;
}
.container{
	@apply w-full max-w-[1600px] mx-auto px-[15px];
	@screen lg {
		@apply px-0;
	}
}
.main-footer {
	@apply bg-[#007BDF] text-white py-8 mt-[auto];
}
