*,
*::before,
*::after {
	box-sizing: border-box;
}
::selection {
	color: white;
	background: #9e852e;
}
:root {
	--header-height: 48px;
	@screen l {
		--header-height: 64px;
	}
}
body {
	margin: var(--header-height) 0 0 0 !important;
	min-height: calc(100vh - var(--header-height));
	display: flex;
	flex-direction: column
}
.main-header{
	background-color: #007BDF;
	position: fixed;
	top: 0;
	width: 100%;
	min-height: var(--header-height)
}
.main-container{
	width: 100%;
	max-width: 4000px;
	margin: 0 auto;
	padding: 0 15px;
	@include from(1630px) {
		padding: 0;
	}
}
.container{
	width: 100%;
	max-width: 1600px;
	margin: 0 auto;
	padding: 0 !important;
}
.main-footer {
	background-color: #007BDF;
	padding: 15px 0;
	margin-top: auto;
}
