div(class='flex flex-col')
	h2 Component 9
	:markdown-it(html)
		```html
		# Hola
		- Lorem ipsum dolor sit amet consectetur adipisicing `elit`.
		- Lorem ipsum dolor sit amet consectetur adipisicing `elit`.
		- Lorem ipsum dolor sit amet consectetur adipisicing `elit`.
		- Lorem ipsum dolor sit amet consectetur adipisicing `elit`.
		```