@import "media-queries";
$breakpoints 		:
	(
		s	: 0,
		m	: 768px,
		l	: 1024px,
		lg	: 1440px,
		xl	: 1600px,
		xxl	: 1920px
);
@include from(m){
	.patito{
		color: red;
	}
}

@include fromTo(s,m){
	.patito-2{
		color: red;
	}
}
@layer components {
	.bg-custom {
		background: rgba(0, 0, 0, 0.52);
		box-shadow: 0px 9px 18px 0px rgba(0, 0, 0, 0.2);
		backdrop-filter: blur(0px);
	}
	.bg-custom-2 {
		background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), #000C46;
		box-shadow: 0px 9px 18px 0px rgba(0, 0, 0, 0.20);
		backdrop-filter: blur(16.5px);
	}
	.section-container {
		width: 100%;
		max-width: 2500px;
		margin: 0 auto;
	}
	.card-title{
		color: #FFF;
		font-family: Montserrat;
		font-size: 16px;
		font-style: normal;
		font-weight: 700;
		line-height: 110%; /* 24.2px */
		@screen l {
			font-size: 22px;
		}
	}
	.card-description{
		color: #C6C6C6;
		font-family: Montserrat;
		font-size: 14px;
		font-style: normal;
		font-weight: 500;
		line-height: 150%; /* 21px */
		letter-spacing: -0.14px;
	}
	.item-container {
		width: 100%;
		max-width: 1600px;
		margin: 0 auto;
		padding-left: 15px;
		padding-right: 15px;
		@screen xl {
			padding-left: 0;
			padding-right: 0;
		}
	}
	.footer-title{
		color: #FFF;
		font-family: Montserrat;
		font-size: 16px;
		font-style: normal;
		font-weight: 700;
		line-height: 110%; /* 24.2px */
		@screen l {
			font-size: 22px;
		}
	}
	.footer-description{
		color: #C6C6C6;
		font-size: 12px;
		font-style: normal;
		font-weight: 500;
		line-height: 150%; /* 21px */
		letter-spacing: -0.14px;
		@screen l {
			font-size: 14px;
		}
	}
}
@layer base {
	body {
		@apply font-montserrat;
	}
	h1 {
		@apply text-[36px] leading-[43px] font-semibold tracking-[-0.72px] lg:text-[51px] lg:leading-[56px] lg:tracking-[-0.66px];
	}
	h2 {
		@apply text-[29px] leading-[35px] font-semibold tracking-[-0.58px] lg:text-[41px] lg:leading-[49px] lg:tracking-[-0.82px];
	}
	h3 {
		@apply text-[24px] leading-[29px] font-semibold tracking-[-0.48px] lg:text-[27px] lg:leading-[32px] lg:tracking-[-0.54px];
	}
	h4 {
		@apply text-[20px] leading-[28px] font-semibold tracking-[-0.4px] lg:text-[23px] lg:leading-[28px] lg:tracking-[-0.46px];
	}
	h5 {
		@apply text-[17px] leading-[27px] font-semibold tracking-[-0.34px] lg:text-[19px] lg:leading-[23px] lg:tracking-[-0.38px];
	}
	h6 {
		@apply text-[14px] leading-[25px] font-semibold tracking-[-0.28px] lg:text-[15px] lg:leading-[27px] lg:tracking-[-0.3px];
	}
	p {
		@apply text-[15px] leading-[27px] lg:text-[16px] lg:leading-[22px];
	}
}
